version: "2"

services:
  elasticsearch:
    build: elasticsearch/
    environment:
      ES_JAVA_OPTS: "-Xms1g -Xmx1g"
    ports:
      - "9200:9200"
      - "9300:9300"
  logstash:
    build: logstash/
    command: "-f /etc/logstash/conf.d/"
    environment:
      - LS_HEAP_SIZE=500m
    links:
      - elasticsearch
    ports:
      - "5000:5000"
    volumes:
      - "./logstash/config:/etc/logstash/conf.d"
      - "/opt/log:/log"
  kibana:
    build: kibana/
    links:
      - elasticsearch
    ports:
      - "5601:5601"
    volumes:
      - "./kibana/config/:/etc/kibana"
